<footer class="footer">
<small>
 the <a href="http://www.railstutorials.org/">Ruby on Rails Tutorial</a>
 by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
 </small>
 <nav>
   <ul>
     <li><%= link_to "About",  about_url %></li>
     <li><%= link_to "Contact", contact_url %></li>
     <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
 </footer>