<header class="navbar navbar-fixed-top navbar-inverse">
  	<div class='container'>
        <%= link_to "sample app", root_url , id: "logo", :class =>'header-color'%>
        <nav>
        	<ul class="nav navbar-nav navbar-right">
        	<li><%=link_to "Home", root_url %></li>
        	<li><%=link_to "Help", helf_url %></li>
        	<li><%=link_to "Log in", '#' %></li>
        	</ul>
        </nav>
    </div>
</header>